html {
    background-color: #202020;
}
.btn {
    background-color: #0077ed;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 8px 10px;
    margin: 1px;
}
.btn:hover {
    background-color: #0172e2;
}
text,
h1,
h2,
h3,
h4 {
    color: white;
}

.max-width {
    max-width: 500px;
}
.input {
    padding: 7px 5px;
    margin: 1px;
}

.container {
    display: flex;
}
.white {
    color: white;
}
.navbar {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
}
